*{
    padding: 0;
    margin: 0;
}
h1{
    color:white;
    font-family:sans-serif;
}
span{
    color:red;
    font-family: sans-serif;
}
h1:hover{
    color:red;
}
span:hover{
    color:white;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/legs/calves/pexels-andrea-piacquadio-3756042.jpg");
    width: 300%;
    height: 100vh;
    margin:1rem;
}
p{
    color:bisque;
    font-family: sans-serif;
    font-size: 27px;
    align-items: center;
    font-style: italic;
    font-weight:bold;
}
p:hover{
    color:crimson;
}
h1{
    color:greenyellow;
}
h1:hover{
    color:crimson;
}
h2{
    color: red;
    font-family: verdana;
    font-size: 25px;
}

p{
    color:whitesmoke;
    font-size: 20px;
    align-items: center;
    font-family: sans-serif;
    font-style: italic;
}
.btn{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: red;
    width: 160px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    border-radius: 8px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.btn:hover,.btn:focus,.btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform:scale(1.1) ;
    transform:scale(1.1) ;
    -moz-transform:scale(1.1) ;
    -ms-transform:scale(1.1) ;
    -o-transform:scale(1.1) ;
}
p2{
    color: whitesmoke;
    font-family: verdana;
    font-size: 17px;
}

.pos_cen{
    position:absolute;
    width:70%;
    left:15%;
}

video{
    justify-content: center;
}